<div class="modal-header">
    <h4 class="modal-title">Brisanje zapisa</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="data">
    <h6>Jeste li sigurni da želite izbrisati zapis '{{data.id}}'?</h6>
</div>
<div class="modal-body" *ngIf="!data">
    <h6>Jeste li sigurni da želite izbrisati sve zapise?</h6>
</div>
<div class="modal-footer">
    <button type="button" class="btn" (click)="activeModal.dismiss('Cancel click')">Odustani</button>
    <button type="button" class="btn btn-danger" (click)="deleteRecord()">Izbriši</button>
</div>
