<nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation" data-sidebarClass="navbar-dark bg-dark"
     *ngIf="isLoggedIn$ |async">
    <a class="navbar-brand" [routerLink]="['/dashboard']">IoT Simulator</a>
    <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/simulations']">Moje simulacije
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Postavke</button>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="onLogout()">Odjava</a>
                </div>
            </div>
        </ul>
    </div>
</nav>
