<div class="container-fluid">
  <h1>Sensor Form</h1>
  <form>
    <div>
      <input type="checkbox" name="lora" [(ngModel)]="loraWanSelected" [checked]="true"/>
      <label [for]="lora">LoRaWAN</label><br>

      <input type="checkbox" name="xbee" [(ngModel)]="xbeeSelected" [checked]="true"/>
      <label [for]="xbee">XBee</label><br>

      <label for="batteryPercentage">Current Battery percentage</label>
      <input type="number" class="form-control" id="batteryPercentage" value="100" max="100" min="0" name="battery" [(ngModel)]="battery"><br>
    </div>
  </form>
</div>
