<div class="container-fluid">
    <h5>Algorithm Properties</h5>
    <form>
        <fieldset [disabled]="isDisabled">

            <div>
                <select [(ngModel)]="selectedAlgorithm" name="algorithm" id="algorithm">
                    <option *ngFor="let algorithm of algorithms" [ngValue]="algorithm">
                        {{algorithm.viewValue}}
                    </option>
                </select><br>
                <label>Model: {{selectedAlgorithm.value}}</label><br>
                <div *ngIf="selectedAlgorithm.value == 'GeneticAlgorithmModel'">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="population-prepend">Population size</span>
                        </div>
                        <input type="number" class="form-control" aria-label="population" aria-describedby="population-prepend"
                            value="20" max="100" min="20" name="population" id="population" [(ngModel)]="selectedAlgorithm.params.population">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="limitIterations-prepend">Iterations limit</span>
                        </div>
                        <input type="number" class="form-control" aria-label="population" aria-describedby="limitIterations-prepend"
                            value="100" max="10000" min="0" name="limitIterations" id="limitIterations" [(ngModel)]="selectedAlgorithm.params.limitIterations">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="limitSteadyGenerations-prepend">Steady generations limit</span>
                        </div>
                        <input type="number" class="form-control" aria-label="limitSteadyGenerations" aria-describedby="limitSteadyGenerations-prepend"
                            value="20" max="10000" min="0" name="limitSteadyGenerations" id="limitSteadyGenerations"
                            [(ngModel)]="selectedAlgorithm.params.limitSteadyGenerations">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>