<div class="container-fluid">
  <form>
    <div>
      <button class="btn btn-primary" *ngIf="!configurationOpened" (click)="openConfiguration()">Configure Modules</button>
      <button class="btn btn-success" *ngIf="configurationOpened" (click)="closeConfiguration()">Save</button>

      <h4 *ngIf="configurationOpened">Communication modules:</h4>
      <div *ngIf="configurationOpened" class="row">
        <div *ngFor="let module of modules" class="col">
          <h5>{{module.name}}</h5>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="energy-on-prepend-$module.id">energy on</span>
            </div>
            <input type="number" class="form-control" aria-label="energyOn-$module.id" aria-describedby="energy-on-prepend-$module.id"
                   value="{{module.energyOn}}" name="energyOn" id="energyOn-$module.id" [(ngModel)]="module.energyOn">
          </div>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="energy-idle-prepend-$module.id">energy idle</span>
            </div>
            <input type="number" class="form-control" aria-label="energyIdle-$module.id" aria-describedby="energy-idle-prepend-$module.id"
                   value="{{module.energyIdle}}" name="energyIdle-$module.id" id="energyIdle" [(ngModel)]="module.energyIdle">
          </div>

          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="range-prepend-$module.id">range</span>
            </div>
            <input type="number" class="form-control" aria-label="range-$module.id" aria-describedby="range-prepend-$module.id"
                   value="{{module.range}}" name="range" id="range-$module.id" [(ngModel)]="module.range">
          </div>

        </div>
      </div>
      <button *ngIf="selectedAlgorithm != undefined" (click)="startSimulation()">Start simulation!</button>
    </div>
  </form>
</div>

