<div style="margin-left:5%;margin-right:5%;margin-top:2%;">
    <app-simulation-form></app-simulation-form>
    <app-modules-form></app-modules-form>
    <div leaflet style="height: 500px;" leafletDraw [leafletDrawOptions]="drawOptions" [leafletOptions]="options"
        [leafletBaseLayers]="baseLayers" [leafletLayersControlOptions]="layersControlOptions"
         (leafletDrawCreated)="onDrawCreated($event)" (leafletMapReady)="onMapReady($event)">
    </div>
    <div class="row">
        <div class="col">
            <app-sensor-form></app-sensor-form>
        </div>
        <div class="col">
            <app-obstacle-form></app-obstacle-form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-success" (click)="startSimulation()">Start Simulation</button>
        </div>
        <div class="col">
            <a class="btn btn-primary" role="button" [attr.href]="export()" download="download.json">Export configuration</a>
        </div>
        <div class="form-group">
            <input type="file" class="btn btn-primary" id="file" (change)="handleFileUpload($event)">
        </div>
    </div>

</div>
