<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div leaflet style="height: 500px;" leafletDraw [leafletDrawOptions]="drawOptions" [leafletOptions]="options"
                [leafletBaseLayers]="baseLayers" [leafletLayers]="layers" [leafletLayersControlOptions]="layersControlOptions"
                (leafletDrawCreated)="onDrawCreated($event)" (leafletMapReady)="onMapReady($event)">
            </div>
            <div class="row">
                <div>
                    <a class="btn btn-outline-primary btn-sm" href="javascript:;" (click)="selectFile()">Uvezi konfiguraciju</a>
                    <input type="file" [hidden]="true" id="file" (change)="handleFileUpload($event)">
                </div>
                <div>
                    <a class="btn btn-outline-primary btn-sm" [attr.href]="export()" download="download.json">Izvezi konfiguraciju</a>
                </div>
                <div>
                    <a class="btn btn-outline-primary btn-sm" href="javascript:;" (click)="shopModelPopup()">Model</a>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <app-simulation-form [isDisabled]="false"></app-simulation-form>
            </div>
            <div class="card">
                <app-sensor-form [isDisabled]="false"></app-sensor-form>
            </div>
            <div class="card">
                <app-obstacle-form [isDisabled]="false"></app-obstacle-form>
            </div>
            <div class="container-fluid">
                <div class="form-group">
                    <button class="btn btn-success" (click)="startSimulation()">Pokreni simulaciju</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </div>
        </div>
    </div>
</div>