<div class="container-fluid">
    <h5>Prepreke</h5>
    <form>
        <fieldset [disabled]="isDisabled">
            <div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="efficiency-prepend">Efikasnost</span>
                    </div>
                    <input type="number" class="form-control" aria-label="efficiency" aria-describedby="efficiency-prepend"
                        value="100" max="100" min="0" name="efficiency" id="efficiency" [(ngModel)]="communicationEfficiencyPercentage">
                    <div class="input-group-append">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Visina prepreke</span>
                </div>
                <input type="number" class="form-control" aria-label="height" aria-describedby="height-prepend" value="0"
                    min="0" name="height" id="height" [(ngModel)]="height">
                <div class="input-group-append">
                    <span class="input-group-text">metara</span>
                </div>
            </div>
        </fieldset>
    </form>
</div>