<div class="container-fluid">
  <h5>Obstacle Properties</h5>
  <form>
    <div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="efficiency-prepend">communication efficiency in area</span>
        </div>
        <input type="number" class="form-control" aria-label="efficiency" aria-describedby="efficiency-prepend"
               value="100" max="100" min="0" name="efficiency" id="efficiency" [(ngModel)]="communicationEfficiencyPercentage">
      </div>
    </div>
  </form>
</div>
