/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import '~ngx-toastr/toastr.css';

.login-form {
    margin-top: 50px;
}
.register-form {
    margin-top: 50px;
}
.action-button {
    margin-right: 5px;
}
#toast-container > div {
    opacity:1;
}